@charset "UTF-8";

h1, p {
    text-align: center;
    font-size: 120%;
}

li:hover {
    background-color: green;
}
li:active {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style: none;
}

li {
    font-size: 110%;
    font-family: Helvetica, sans-serif;
}